* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  margin: 10px;
  width: 100%; }
  [type='range']::-moz-focus-outer {
    border: 0; }
  [type='range']:focus {
    outline: 0; }
    [type='range']:focus::-webkit-slider-runnable-track {
      background: #f2f2f2; }
    [type='range']:focus::-ms-fill-lower {
      background: #e5e5e5; }
    [type='range']:focus::-ms-fill-upper {
      background: #f2f2f2; }
  [type='range']::-webkit-slider-runnable-track {
    cursor: default;
    height: 1px;
    transition: all .2s ease;
    width: 100%;
    box-shadow: 0 0 0 #1d1d1d, 0 0 0 #2a2a2a;
    background: #e5e5e5;
    border: 0 solid #1d1d1d;
    border-radius: 0; }
  [type='range']::-webkit-slider-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #1d1d1d;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: default;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    margin-top: -9.5px; }
  [type='range']::-moz-range-track {
    box-shadow: 0 0 0 #1d1d1d, 0 0 0 #2a2a2a;
    cursor: default;
    height: 1px;
    transition: all .2s ease;
    width: 100%;
    background: #e5e5e5;
    border: 0 solid #1d1d1d;
    border-radius: 0;
    height: 1px; }
  [type='range']::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #1d1d1d;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: default;
    height: 20px;
    width: 20px; }
  [type='range']::-ms-track {
    cursor: default;
    height: 1px;
    transition: all .2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent; }
  [type='range']::-ms-fill-lower {
    box-shadow: 0 0 0 #1d1d1d, 0 0 0 #2a2a2a;
    background: #d8d8d8;
    border: 0 solid #1d1d1d;
    border-radius: 0; }
  [type='range']::-ms-fill-upper {
    box-shadow: 0 0 0 #1d1d1d, 0 0 0 #2a2a2a;
    background: #e5e5e5;
    border: 0 solid #1d1d1d;
    border-radius: 0; }
  [type='range']::-ms-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(13, 13, 13, 0.2);
    background: #1d1d1d;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: default;
    height: 20px;
    width: 20px;
    margin-top: 0.25px; }
  [type='range']:disabled::-webkit-slider-thumb, [type='range']:disabled::-moz-range-thumb, [type='range']:disabled::-ms-thumb, [type='range']:disabled::-webkit-slider-runnable-track, [type='range']:disabled::-ms-fill-lower, [type='range']:disabled::-ms-fill-upper {
    cursor: not-allowed; }

.color-palette {
  width: 100vw;
  height: 67vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr)); }
  @media (min-width: 568px) {
    .color-palette {
      grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
      grid-template-rows: 1fr; } }

.palette-sample {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  @media (min-width: 568px) {
    .palette-sample {
      flex-direction: column; } }
  .palette-sample__value {
    text-transform: uppercase; }
  .palette-sample__button {
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer; }
    .palette-sample__button-img {
      width: 20px;
      height: 20px; }

.color-picker {
  width: 100vw;
  height: 33vh;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #1d1d1d; }
  @media (min-width: 568px) {
    .color-picker {
      min-height: 250px; } }

.picker-ranges-hue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .picker-ranges-hue__label {
    margin: 5px;
    font-size: 0.8em;
    text-transform: uppercase; }
  .picker-ranges-hue__input {
    width: 100%;
    max-width: 992px; }
.picker-ranges-saturation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .picker-ranges-saturation__label {
    margin: 5px;
    font-size: 0.8em;
    text-transform: uppercase; }
  .picker-ranges-saturation__input {
    width: 100%;
    max-width: 992px; }
.picker-ranges-lightness {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .picker-ranges-lightness__label {
    margin: 5px;
    font-size: 0.8em;
    text-transform: uppercase; }
  .picker-ranges-lightness__input {
    width: 100%;
    max-width: 992px; }

.picker-buttons {
  display: flex;
  justify-content: center; }
  .picker-buttons__add-button {
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer; }
    .picker-buttons__add-button-img {
      width: 20px;
      height: 20px; }

/*# sourceMappingURL=main.css.map */
