.color-palette {
  width: 100vw;
  height: 67vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));

  @include viewport-5 {
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: 1fr;
  }
}

.palette-sample {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include viewport-5 {
    flex-direction: column;
  }

  &__value {
    text-transform: uppercase;
  }

  &__button {
    width: 48px;
    height: 48px;

    background: none;
    border: none;
    cursor: pointer;

    &-img {
      width: 20px;
      height: 20px;
    }
  }
}
