.color-picker {
  height: 45vh;

  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background: $color-picker-background;

  @include viewport-5 {
    height: 33vh;

    min-height: 250px;
  }
}

.picker-ranges {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &-hue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__label {
      margin: 5px 0 5px 0;
      font-size: 1em;
      text-transform: uppercase;
    }

    &__input {
      width: 100%;
      max-width: 992px;
    }
  }

  &-saturation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__label {
      margin: 5px 0 5px 0;
      font-size: 1em;
      text-transform: uppercase;
    }

    &__input {
      width: 100%;
      max-width: 992px;
    }
  }

  &-lightness {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__label {
      margin: 5px 0 5px 0;
      font-size: 1em;
      text-transform: uppercase;
    }

    &__input {
      width: 100%;
      max-width: 992px;
    }
  }
}

.picker-buttons {
  margin: 15px;
  display: flex;
  justify-content: center;

  &__add-button {
    width: 30px;
    height: 30px;

    background: none;
    border: none;
    cursor: pointer;

    &-img {
      width: 20px;
      height: 20px;
    }
  }

}
